body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(26, 76, 100, 0.8);
}

.main {
  width: 600px;
  margin: 100px auto;
  padding-bottom: 100px;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #333333;
  font-size: x-large;
}

.order-container {
  position: relative;
  padding: 20px 0 20px 0;
  width: 100%;
  display: grid;
  grid-template-columns: 45% 45%;
  gap: 40px;
}

@media (max-width: 950px) {
  .main {
    width: 600px;
    margin: 50px auto;
    padding-bottom: 50px;
  }
}
@media (max-width: 630px) {
  .main {
    width: 100%;
    margin: 50px auto;
    padding-bottom: 50px;
  }

  .header-container {
    font-size: medium;
  }

  .order-container {
    justify-content: center;
    grid-template-columns: 80%;
  }
}

.logo {
  width: 80%;
  margin-bottom: 20px;
}

.order {
  display: block;
  margin-top: 8px;
  width: 100%;
  height: 150px;
  position: relative;
  border: 3px solid #1a4c64;
  border-radius: 5px;
}

.order .content {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  position: absolute;
  color: #1a4c64;
  font-size: larger;
}
